{% extends 'inheritanceClassworkApp/base.html' %}

{% block content %}

    <p>WHAT WE'RE DOING
    We are changing Memphis with programs that focus on ensuring that
    students are taught the principles of information and computation,
    how digital systems work, and they learn how to put this knowledge to
    use through programming and software development concepts. CodeCrew
    programming includes a number of summer camps, after school programs,
    in-school electives classes, internships and special events.
    ​
    Since May 2015, we have taught more than 1,000 students to code through
    our summer camps, after school programs, in-school electives, and special
    events. Of the 250 kids we serve weekly, 91% are black and latinx youth,
    41% are girls who code, and overall, 89% of our students are more likely
    to study computer science.
    ​</p>

{% endblock content %}

{% block footer %}
    <p>88 Union Avenue, 2nd Floor, Memphis, TN 38103  |  901-229-1720  | team@code-crew.org  |  #GritGrindCode

    </p>
{% end block footer %}